@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Reem+Kufi+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-left: 0;
    margin-right: 0;
    padding: 0px;background-color: grey;
    border: 4px solid salmon; 
    font-optical-sizing: auto;
    font-variation-settings: width 100%;
}
header{
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid yellow;
}
nav{
    color: rgb(239, 243, 238);
    border: 2px solid rgb(29, 199, 58);
    width: 100%;
    text-align: center;   
    padding: 0px;
    background-image: url(./imagen/fondo-vintage-3.jpg);
    margin-bottom: 0px;
}
main{
    background-color: black;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    border: 3px solid red;
}
footer{
    background-color: rgba(20, 20, 20, 0.986);
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    width: 100%;
    padding-top: 3%;
    display: inline block;
    border: 2px solid white;
}
section{
    width: 100%;
    color: chartreuse;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding-top: 8%;
    display: inline-block;
}
div a{
    text-decoration: none;
}
section a{
    text-decoration: none;
}
ul li{
    position: relative;
    padding-right: 15%;
}
@keyframes animacion-main{
    70%{
        color: aqua;
    }
    100%{
        color: rgb(23, 181, 187)
    }
}
@keyframes animacion-header{
    from{transform: translate(0%);

    }
    to{
        transform: translateX(132%);
    }
}





.nav-header{
    display:flex;
    flex-direction: row;  
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 1%;
}
.menu-header{
    display: inline-block;
    padding-right: 30px; 
    padding-top: 5px;  
    height: 10px;
    font-size: 30px;
    transition: transform 0.5s ease;
    width: auto;
}
.menu-header:hover{
    transform: scale(1.3,1.3);
}
.menu-header a:visited{
    color: rgb(239, 243, 238);
}
.menu-header a:link{
    color: rgb(239, 243, 238);
}
.menu-header a:hover{
    color: rgb(23, 181, 187);
}

#menu-imagenes-header{
    display: inline-block;   
}
#portada-header{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height:90%;
    width: 94% ;
    padding-bottom: 0%;
    background-image: url(./imagen/nuevo\ fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0%;
    border: 2px solid royalblue;
 }
 #portada1-header{
    display: inline block;
    position: relative;
    right: 40%;
    width: 35%;
    min-height: 72%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 160%;
    color: antiquewhite;
    margin-left: 2%;
    margin-top: 0%;
    padding-top: 3%;
    animation: animacion-header 1.6s linear 1 forwards;
    border: 2px solid lawngreen;
}
#portada2-header{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: rgb(163, 159, 159);
    position: center;
    margin-top: 3%;
}
#portada3-header{
    display: inline-block;
    border: 4px solid rgb(26, 23, 23);
    margin-bottom: 10%;
    width: 100%;
}
#logo-header{
    position: relative;
    bottom: 9px;
}
.portada-box{
    display: inline-block;
    border: 2px solid hotpink;
    width: 49%;
    margin-left: 6.5%;   
}





.nav1 {
    display:flex;
    justify-content: space-around;
    margin-bottom: 0px;
    border: 4px solid rgb(11, 208, 243);
    color: rgb(239, 243, 238);
    font-size: 300%;
    width: 100%;
}
.nav1 a:visited{
    color: rgb(239, 243, 238);
}
.nav1 a:link{
    color: rgb(239, 243, 238);
}
.nav1 a:hover{
    color: rgb(23, 181, 187);
}




.main-carrusel{
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid darkolivegreen;
    width: 100%;
}
.carrusel{
    width: 40%;
    display: inline-block;
    height: auto;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-left: 9.5%;
    padding: 0%;
}
#main-novedades{
    color: rgb(248, 248, 247);
    display: inline-block;
    font-optical-sizing: auto;
    border: 2px solid darkorange;
    width: 50%;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 320%;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-top: 10%;
    animation: animacion-main 1.5s linear  infinite alternate ;
}
#section-main{
    font-size: 60px;
}
.section-pc1{
    margin-left: 20%;
}
.section-xbox1{
    display: inline-block;
    margin-left: 10%;
}
section a:visited{
    color: chartreuse;
}
section a:link{
    color: chartreuse;
}
section a:hover{
    color: chartreuse;
}



.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer-box1{
    display: flex;
    justify-content: space-around;
    border: 2px solid gold;
}
.footer-box2{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(56, 154, 211);
}
.footer1-a{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 80%;
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 0%;
    border: 2px solid rebeccapurple;
}
.footer1{
    width: 20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 0%;
    border: 2px solid rebeccapurple;
}
.footer2{
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  display: block;
  text-align: center;
  width: 20%;
  margin-left: 0%;
  margin-right: 0;
  margin-bottom: 0%;
  border: 2px solid red;
}



@media (max-width:991px) {
 
  #logo-header{

  }
  .nav1{
    flex-direction: row;
    align-items: center;
    font-size: 190%;
  }
  .main-carrusel{
    flex-direction: column;
    align-items: center;
  }
  #main-novedades{
    width: 100%;
    font-size: 250%;
  }
  .carrusel{
    width: 70%;
    padding: 0;
    margin: 0;
  }
  #portada-header{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height:90%;
    width: 94% ;
    padding-bottom: 0%;
    background-image: url(./imagen/nuevo\ fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0%;
    border: 2px solid royalblue;
 }
 #portada1-header{
    display: inline block;
    position: relative;
    right: 40%;
    width: 90%;
    min-height: 72%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    color: antiquewhite;
    margin-left: 2%;
    margin-top: 0%;
    padding-top: 3%;
    animation: animacion-header 1.6s linear 1 forwards;
    border: 2px solid lawngreen;
}
.portada-box{
    display: inline;
    border: 2px solid hotpink;
    width: 70%;
}
@keyframes animacion-header{
    from{transform: translate(0%);

    }
    to{
        transform: translateX(44%);
    }
}
.footer1{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 80%;
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 0%;
    border: 2px solid rebeccapurple;
}
.footer2{
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 45%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 20%;
  margin-left: 0%;
  margin-right: 0;
  margin-bottom: 0%;
  border: 2px solid red;
}
ul li{
    right: 25%;
}
}
